/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #1a1a1a;
}

a {
  text-decoration: none;
  transition: ease 0.2s;
  color: #1a1a1a;
}
a:hover {
  transition: ease 0.2s;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.inner {
  margin: 0 5vw;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.delay05s {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay15s {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.delay2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  width: 100%;
  background: #fff;
}
.header--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header--content__logo {
  width: 160px;
  height: auto;
}
.header--content__drower {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header--content__drower__text {
  font-size: 12px;
  font-weight: 700;
  color: #126ab2;
  margin: 0 10px 0 0;
}
.header--content__drower__btn {
  width: 30px;
  height: 30px;
  border-radius: 1em;
  background: #e9f0f7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--content__drower__btn::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #126ab2;
  border-radius: 1em;
  position: absolute;
}
.header--content__drower__btn::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #126ab2;
  border-radius: 1em;
  position: absolute;
  -webkit-animation-name: expansion;
          animation-name: expansion;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes expansion {
  0% {
    width: 8px;
    height: 8px;
    background: #126ab2;
  }
  100% {
    width: 30px;
    height: 30px;
    background: #e9f0f7;
  }
}
@keyframes expansion {
  0% {
    width: 8px;
    height: 8px;
    background: #126ab2;
  }
  100% {
    width: 30px;
    height: 30px;
    background: #e9f0f7;
  }
}

.topimage {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 70px 0;
}
.topimage::before {
  content: "";
  width: 100vw;
  height: 70vh;
  background: #e9f0f7;
  position: absolute;
  bottom: 0;
}
.topimage--headline {
  margin: 50px 0 0 0;
  position: relative;
  z-index: 4;
}
.topimage--headline h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.58;
  color: #1a1a1a;
  margin: 0 0 10px 0;
}
.topimage--headline h2 span {
  display: inline-block;
}
.topimage--headline p {
  font-size: 16px;
  font-weight: bold;
  color: #4d4d4d;
  letter-spacing: 0.05em;
}
.topimage--img {
  height: 60vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: -100px 0 0 0;
}
.topimage--img__01 {
  width: 60vw;
  height: auto;
  position: absolute;
  right: -30px;
  z-index: 3;
}
.topimage--img__02 {
  width: 70vw;
  height: auto;
  position: absolute;
  left: -40px;
  top: 175px;
  z-index: 2;
}
.topimage--img__03 {
  width: 45vw;
  height: auto;
  position: absolute;
  top: 360px;
  right: 0;
  z-index: 1;
}
.topimage--text {
  position: relative;
  padding: 70px 0 100px 0;
  font-size: 16px;
  line-height: 2.15;
}
.topimage--btn {
  position: absolute;
  right: 5vw;
  bottom: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #ffbb33;
  border-radius: 5em;
  font-weight: bold;
  z-index: 5;
}
.topimage--btn::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  bottom: -20px;
  border-radius: 5em;
  background: #ffbb33;
  filter: blur(6px);
  opacity: 0.2;
  z-index: 1;
}

.news h2 {
  font-size: 26px;
  color: #126ab2;
}
.news--column {
  display: flex;
  flex-direction: row;
  padding: 12px;
  background: #fff;
  margin: 0 0 10px 0;
  border-radius: 8px;
  position: relative;
}
.news--column::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  filter: blur(5px);
  transform: translateY(5px) scale(1.02);
  mix-blend-mode: multiply;
}
.news--column__img {
  width: 40vw;
  background: #aaa;
  margin: 0 10px 0 0;
}
.news--column__text span {
  display: block;
}/*# sourceMappingURL=style.css.map */