@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$primary-color: #126ab2;

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {}

.header {
    width: 100%;

    .inner {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        h1 {
            max-width: 140px;
            margin: 0 0 0 5vw;

            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .drower {
            display: flex;
            flex-direction: row;

            div {
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1px;
                color: $primary-color;
            }

            .menu-btn {
                background: #aaa;

                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 1em;
                    border: none;
                    background: $primary-color;
                }
            }
        }
    }
}